@import 'tailwindcss';

body {
  user-select: none;
}

.arco-input-number-mode-button > .arco-input-wrapper > .arco-input {
  text-align: center;
}

.arco-tabs-nav-type-capsule .arco-tabs-nav-tab:not(.arco-tabs-nav-tab-scroll) {
  justify-content: center;
}

.arco-timeline-item {
  min-height: 32px;
}

.arco-timeline-item-content {
  margin-bottom: 0;
}

.arco-table-th-title,
.arco-table-td-content {
  text-wrap: nowrap;
}

.arco-select-dropdown-list-wrapper {
  max-height: 360px;
}

.arco-select-dropdown .arco-select-option-content {
  flex-grow: 1;
}
