@import 'tailwindcss';

.arco-tabs-nav-type-capsule .arco-tabs-nav-tab:not(.arco-tabs-nav-tab-scroll) {
  justify-content: flex-start;
}

.arco-input-number-mode-button > .arco-input-wrapper > .arco-input {
  text-align: center;
}

.arco-timeline-item-content {
  margin-bottom: 0;
}

.arco-timeline-item {
  min-height: 32px;
}

.arco-table-td-content {
  text-wrap: nowrap;
}
